/*模糊背景圖*/
body
{
font-family: "微軟正黑體";
background-size: 100% 100%;
text-align: center;
background-image: url(../img/info_bg.jpg);
}
/*商品總覽*/
div.type
{
position: relative;
margin: 10% 5% 5% 5%;/*上 右 下 左*/
background-color:#F7DBAC;
text-align: center;
border: 3px #5d533d solid;
}
/*商品種類選擇*/
div.product_type
{
	font-size: 35pt;
	color: white;
	background-color: #303030;
	
}
/*單類商品區塊*/
div.one_product
{
padding:0% 0% 0% 0%;
background-color: #765929;
margin: 2% 10% 1% 10%;
width:auto;
}
/*種類標題圖片*/
img.type
{
width:15%;
}
/*單個商品圖片*/
img.product_pic
{
margin: 1%;
width: 120px;
height: 120px;
border-radius: 15px;
border:3px  #ffffff solid;
}

.qbtn{
	height:300px;
	width:400px;
}
.pro_img{
	margin: 2%;
    width: 65%;
    height: 50%;
    border-radius: 15px;
    border:3px  #ffffff solid;
    position: relative;
    top: 5px;
}
.pro_img:hover{
	opacity:0.6;
}


.submit{
  position:relative;
  bottom:30px;
  right:-20px;
  padding:1px;
  background-color:#000000;
  font-size:18px;
  border-radius:10px;
  width:80px;
  color:#ffffff;
  font-family:微軟正黑體;
  font-weight:bold;
}
.submit_1{
  position:relative;
  right:-435px;
  bottom:15px;
  padding:1px;
  background-color:#000000;
  font-size:18px;
  border-radius:10px;
  width:80px;
  color:#ffffff;
  font-family:微軟正黑體;
  font-weight:bold;
}
.submit_2{
  position:relative;
  right:-15px;
  padding:1px;
  background-color:#000000;
  font-size:18px;
  border-radius:10px;
  width:80px;
  color:#ffffff;
  font-family:微軟正黑體;
  font-weight:bold;
}
/*test*/


/*.a:checked~.pro::before{
    border:3px  #000000 solid;
    opacity:0.6;

}*/
input[type=checkbox]{
	box-sizing:border-box;
	position:relative;
	top:5px;
}
input[type=radio]{
	box-sizing:border-box;
	position:relative;
	top:5px;
}
label{
	width:150px;
	height:150px;
	margin:10px;
}
/*加入購物車按鈕*/
.add_cart{
	position:relative;
	bottom:-50px;
	left:-100px;
	background-color:#000000;
	border-radius:10px;
	font-size:15px;
	width:90px;
	font-family:微軟正黑體;
    font-weight:bold;
    color:#ffffff;
    padding:1px;
}


/*增減按鈕*/
.qty {
  width: 40px;
  height: 35px;
  text-align: center;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
input.qtyplus {
  width: 25px;
  height: 35px;
  border: 2px solid #ffffff;
  background: #000000;
  color:#ffffff;
  font-weight:bold;
  border-left:none;
}
input.qtyplus1 {
  width: 25px;
  height: 35px;
  border: 2px solid #ffffff;
  background: #000000;
  color:#ffffff;
  font-weight:bold;
  border-left:none;
}
input.qtyplus2 {
  width: 25px;
  height: 35px;
  border: 2px solid #ffffff;
  background: #000000;
  color:#ffffff;
  font-weight:bold;
  border-left:none;
}
input.qtyplus3 {
  width: 25px;
  height: 35px;
  border: 2px solid #ffffff;
  background: #000000;
  color:#ffffff;
  font-weight:bold;
  border-left:none;
}
input.qtyplus4 {
  width: 25px;
  height: 35px;
  border: 2px solid #ffffff;
  background: #000000;
  color:#ffffff;
  font-weight:bold;
  border-left:none;
}
input.qtyplus5 {
  width: 25px;
  height: 35px;
  border: 2px solid #ffffff;
  background: #000000;
  color:#ffffff;
  font-weight:bold;
  border-left:none;
}

input.qtyplus6 {
  width: 25px;
  height: 35px;
  border: 2px solid #ffffff;
  background: #000000;
  color:#ffffff;
  font-weight:bold;
  border-left:none;
}
input.qtyplus_1 {
  width: 25px;
  height: 35px;
  border: 2px solid #ffffff;
  background: #000000;
  color:#ffffff;
  font-weight:bold;
  border-left:none;
}
input.qtyplus_2 {
  width: 25px;
  height: 35px;
  border: 2px solid #ffffff;
  background: #000000;
  color:#ffffff;
  font-weight:bold;
  border-left:none;
}
input.qtyminus{
	width: 25px;
  height: 35px;
  border: 2px solid #ffffff;
  background: #000000;
  color:#ffffff;
  font-weight:bold;
  border-right:none;
}
input.qtyminus1{
	width: 25px;
  height: 35px;
  border: 2px solid #ffffff;
  background: #000000;
  color:#ffffff;
  font-weight:bold;
  border-right:none;
}
input.qtyminus2{
	width: 25px;
  height: 35px;
  border: 2px solid #ffffff;
  background: #000000;
  color:#ffffff;
  font-weight:bold;
  border-right:none;
}
input.qtyminus3{
	width: 25px;
  height: 35px;
  border: 2px solid #ffffff;
  background: #000000;
  color:#ffffff;
  font-weight:bold;
  border-right:none;
}
input.qtyminus4{
	width: 25px;
  height: 35px;
  border: 2px solid #ffffff;
  background: #000000;
  color:#ffffff;
  font-weight:bold;
  border-right:none;
}
input.qtyminus5{
	width: 25px;
  height: 35px;
  border: 2px solid #ffffff;
  background: #000000;
  color:#ffffff;
  font-weight:bold;
  border-right:none;
}
input.qtyminus6{
	width: 25px;
  height: 35px;
  border: 2px solid #ffffff;
  background: #000000;
  color:#ffffff;
  font-weight:bold;
  border-right:none;
}
input.qtyminus_1{
	width: 25px;
  height: 35px;
  border: 2px solid #ffffff;
  background: #000000;
  color:#ffffff;
  font-weight:bold;
  border-right:none;
}
input.qtyminus_2{
	width: 25px;
  height: 35px;
  border: 2px solid #ffffff;
  background: #000000;
  color:#ffffff;
  font-weight:bold;
  border-right:none;
}


